{% extends "social/base.html" %}

{% block content %}
  <div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-8 page">
      <!-- 404 -->
      <div class="text-center">
        <h1>404</h1>
        <h4>Page not found!</h4>
        <p>It's possible you typed/clicked a wrong url or the page you're looking for has been moved/removed.</p>
        <img class="img-responsive" src="/static/social/img/site/404.jpg">

        <div>You can:
          <p>Go to the <a href="/home">Home page</a></p>
          <p><a href="#search">Try a search</a></p>
        </div>
      </div>
      <!-- #404 -->
    </div>
    <div class="col-md-2"></div>
  </div>
{% endblock %}
