{% extends "social/base.html" %}

{% block content %}
  <div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-8 page">
      <!-- 500 -->
      <div class="text-center">
        <h1>500</h1>
        <h4>Internal server error!</h4>
        <p>The stupid server just screwed up, but we're going to fix it ASAP.</p>
        <img class="img-responsive" src="/static/social/img/site/500.jpg">

        <div>You can:
          <p>Go to the <a href="/home">Home page</a></p>
        </div>
      </div>
      <!-- #500 -->
    </div>
    <div class="col-md-2"></div>
  </div>
{% endblock %}
