{% extends "social/base.html" %}

{% load humanize %}

{% block content %}
	<div class="container" style="margin-top: -10px;">
		<div class="col-md-2"></div>
		<div class="col-md-8 page">
			<div class="row">
				<!-- make a post -->
				<div class="text-center" style="background-color: #eee; padding: 5px; border-radius: 4px;">
					<h4>Something funny? <a href="#" data-toggle="modal" data-target="#newPostModal">Make a post.</a></h4>
				</div>
				<!-- #make a post -->
			</div>

			<div class="row" style="padding-top: 25px;">
				{% if posts %}

					<div id="feed" class="">
						{% include 'social/partials/posts.html' %}
					</div>

					{% if posts_count > 15 %}
					<p class="text-center">
						<a id="loadFeeds" class="btn btn-default btn-round" href="javascript:void(0);" data-page="2">Load More</a>
						<i id="feedSpinner" class="fa fa-spinner fa-spin fa-2x" style="display: none;"></i>
					</p>
					{% endif %}
					<!-- #posts -->
				{% else %}
					<p class="text-center">No posts yet! Follow people to see their posts on your feed. <a href="/explore/people">Find people.</a></p>
				{% endif %}
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
{% endblock %}