<form id="change-password-form" method="post" action="">
	{% csrf_token %}

	<!-- old password -->
	<div class="form-group">
		{% if change_password_form.old_password.errors %}
			{% for error in change_password_form.old_password.errors %}
				<div class="text-danger">{{ error }}</div>
			{% endfor %}
		{% endif %}

		<input id="old_password" class="form-control" type="password" name="old_password" placeholder="Old Password" value="">
	</div>
	<!-- #old password -->

	<!-- new password 1 -->
	<div class="form-group">
		{% if change_password_form.new_password1.errors %}
			{% for error in change_password_form.new_password1.errors %}
				<div class="text-danger">{{ error }}</div>
			{% endfor %}
		{% endif %}

		<input id="new_password1" class="form-control" type="password" name="new_password1" placeholder="New Password" value="">
	</div>
	<!-- #new password 1 -->

	<!-- new password 2 -->
	<div class="form-group">
		{% if change_password_form.new_password2.errors %}
			{% for error in change_password_form.new_password2.errors %}
				<div class="text-danger">{{ error }}</div>
			{% endfor %}
		{% endif %}

		<input id="new_password2" class="form-control" type="password" name="new_password2" placeholder="Repeat New Password" value="">
	</div>
	<!-- #new password 2 -->

	<!-- change -->
	<div class="form-group text-right">
		<button class="btn btn-success" type="submit" name="submit" value="change_password">Change</button>
	</div>
	<!-- #change -->
</form>